<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 40%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style></head>
<body>

<h2>ICICI Bank</h2>

<table>
  <tr>
    <th>Services</th>
    
  </tr>
  <tr>
    <td>Manage Accounts.</td>
    
  </tr>
  <tr>
    <td>Funds Transfer</td>
    
  </tr>
  <tr>
    <td>Cardless Cash Withdrawal</td>
    
  </tr>
  <tr>
    <td>Recharge Prepaid Mobile/DTH Connection</td>
    
  </tr>
  <tr>
    <td>Pay Utility Bills</td>
    
  </tr>
  <tr>
    <td>Credit Card Payments</td>
    
  </tr>
  <tr>
    <td>ICICI Bank Fixed Deposits/Recurring Deposits</td>
    
  </tr>
  <tr>
    <td>Fixed Deposits</td>
    
  </tr>
  <tr>
    <td>ICICI Bank Recurring Deposits</td>
    
  </tr>
  <tr>
    <td>Internet Banking</td>
    
  </tr>
</table>

</body>
</html>