<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 40%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>ICICI Bank</h2>

<table>
  <tr>
    <th>Branches</th>
    
  </tr>
  <tr>
    <td>Bangalore - Jayanagar 5th Block</td>
    
  </tr>
  <tr>
    <td>Bangalore - Richards Town</td>
   
  </tr>
  <tr>
    <td>Bangalore - Vittal Mallya Road</td>
   
  </tr>
  <tr>
    <td>Bangalore - Padmanabhnagar</td>
    
  </tr>
  <tr>
    <td>Bangalore - Kalyanagar (Hrbr Layout)</td>
    
  </tr>
  <tr>
    <td>Bangalore - Sadashiv Nagar</td>
    
  </tr>
   <tr>
    <td>Bangalore - Indiranagar 12th Main</td>
    
  </tr>
   <tr>
    <td>Bangalore - Jp Nagar V Phase</td>
    
  </tr>
   <tr>
    <td>Bangalore - Malleshwaram 8th Main</td>
    
  </tr>
   <tr>
    <td>Bangalore - Whitefield</td>
    
  </tr>
</table>

</body>
</html>